Guilds are world organizations scattered around Hyraeth. These organizations will setup and sponsor various chapters in cities and towns in the world.<br>
Maintaining a local chapter is contingent on three elements
<ul>
  <li>Maintaining guild membership</li>
  <li>Adhering to the guild bylaws outlined in the charter</li>
  <li>Maintaining the secrecy of guild information</li>
</ul>
As long as a local chapter fulfil these requirements, guild will sponsor the local chapter, sending contacts and resources that would otherwise be unobtainable to those outside the guild. Due to the nature of these resources, guilds are very critical of maintaining the privacy of how and why they operate and failure to uphold this rule can often see a chapter shut down, at the very least.
When a chapter loses recognition of the parent guild, it is disbanded and any groups will cease operations and communication. Given the power a guild can often exert on local resources, local leadership will refuse to acknowledge its existence for fear of retribution by the parent organization.
If you would like to start a chapter of a guild, meet with a representative about setting up a chapter in your community. If you would like to join a guild, find your local guild master and see what you need to do to join!
