<div class="col-md-auto" id="houseprofile">
<center>
  <h2 id='name'><%= @character.house.name %></h2><br>
  <% if @character.house.photo.attached? %>
    <%= image_tag @character.house.photo, id: 'housephoto', size: '350x350' %><br>
  <% end %>
</center>
<b>Thane:</b> <%= @character.house.thane.get_first_name %><br>
<br>

<b>Members:</b><br>
<%=
  get_house_members(@character.house)
%>
</div>