<div class="container col-11">
<div class="pagetitle">Bank Log</div>

<div class="container">
  <div class="row bg-light">
    <div class="col-sm">
      Account Balance: <%= @character.banklogs.where('acquiredate <= ? ', Time.now).sum(:amount) %>
    </div>
  </div>
</div>

<table class="table table-hover table-bordered table-sm">
  <thead class = 'thead-dark'>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Acquire Date</th>
        <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @character.banklogs.each do |banklogs| %>
      <% if (banklogs.acquiredate > Time.now) %>
        <tr class = 'table-secondary'>
      <% elsif (banklogs.amount < 0) %>
        <tr class = 'table-danger'>
      <% else %>
        <tr class = 'table-success'>
      <% end %>
      
        <td><%= banklogs.name %></td>
        <td><%= banklogs.acquiredate.to_date %></td>
        <td><%= banklogs.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>