<%= provide(:title, 'Character Reset') %>
<%= javascript_pack_tag 'charactercreation' %>
<% provide(:url, character_rewrite_path) %>
<div class="pagetitle">Character Rewrite</div>
<p>A character rewrite will change your name, alias, pronouns, race, class and unpurchase all skills. You are only allowed one rewrite before your fourth game so choose wisely.</p>
<p class="font-weight-bold text-danger">This action cannot be undone. Do not click Save Character unless you are sure.</p>

<%= render 'character/characterform' %>