<%= provide(:title, 'Crafting Guide') %>
<div class="container col-12  mt-4" id="craftingguide">
<p class="h1 text-center">Professions</p>

<p>While adventurers are out exploring the forest and battling monsters, it takes everyday people to keep the town running. Myth's optional Profession system gives you another exciting direction to grow your character, immersing yourself as a blacksmith, woodcarver, skinner, or many other roles you'd expect to see in a fantasy village.</p>

<p>Professions expand upon the game world, increasing opportunities for gameplay and character direction in meaningful occupations that feel real. You begin your professional journey using the experience you've gained during events for trades rather than your adventuring class. You should know a lot of time and effort is required to become a skilled craftsperson, limiting the number of crafts you can learn in your character's lifetime. You will soon discover endless opportunities as you dive in to increase your skills, make coins, or create something that truly sets your character apart.</p>


<p class="h2 text-center">Professions and Learning</p>
<p>Your character may know up to two different professions (for example, farmer and blacksmith), and you can learn one professional crafting skill per event you attend. You must buy profession skills in a specific order, such as Novice Farming, Journeyman Farming, and then Master Farmer.</p>
<p class = "small font-italic">Note: Class-specific skills from Alchemist, Artificer, and Runesmith do not count against profession-based skills.</p>

<p class="h4">Learning and Costs</p>
<p>Novice, Journeyman, and Master Professions cost 300, 400, and 500 XP, respectively, and do not count against your maximum Character Points. You may acquire them at different rates taking on the role of a Novice Miner and a Journeyman Harvester, for example.</p>

<p>When you have the appropriate prerequisites and XP, select the "Learn Profession" option in the sidebar of your profile on the Myth website. <%= image_tag("pages/rulebook/trainprofession.png", :class => "border border-dark rounded") %></p>

<p class="h2 text-center">Labor</p>
<p>Each Profession skill you have adds two Labor Points above your starting maximum of four, and you will start each event at your maximum Labor even if you still need to purchase Profession skills. You may not gain or restore Labor over your maximum. Each time you use a Profession skill during the event, you must have and expend the appropriate amount of Labor points. Novice processes cost two Labor, Journeyman four, and all Master processes are eight. Locations, items, and quests may require varying Labor to use or complete.</p>

<p class="h2 text-center">Using a Profession Skill</p>

<p>To use a Profession Skill, you must be at the required building and have the necessary Labor and materials. For Crafting Professions, you will also need to have the yellow-stickered recipe card present. You must then spend time roleplaying your Profession skill. This time is 5 minutes for Novice processes, 10 minutes for Journeyman processes, and 15 minutes for Master processes. Bring your materials (and recipe, if required) to the crafting bin and follow the submission instructions. You must provide your own physical representations for all non-material crafted products.</p>

<p class="h2 text-center">Experimenting</p>

<p>Experimenting is only available to the Crafting Professions. Those with Crafting Professions may use these opportunities to experiment with their craft. For example, a Blacksmith may experiment with raw wood and some iron ore to build a pickaxe. A Glassblower may seek to learn how to make crystal vials, or a Leatherworker may practice making a pair of leather bracers. At Checkout of the event, you may bring in the materials you wish to experiment with, complete an Experiment Form, and turn them in to the Craftmaster. At check-in of the next event, you will either receive the item card and the yellow-stickered Recipe Card or feedback regarding why the experiment failed. We cannot guarantee you will receive your result if you do not attend the following event. You must provide your own physical representation for all finished products (not for crafted or refined materials). All players are limited to a single experiment per event unless a skill or item allows you to submit more.</p>

<p class="h2 text-center">Tools of the Trade</p>
Many items and places in Myth interact with the Profession system. These items and sites may provide bonuses, more efficient ways to spend Labor, or be a place to utilize Labor, such as a node.</p>

<p class="h4">Building Upgrades</p>

<p>Characters with the appropriate Professions or certain items may affect in-game buildings, such as player cabins (or tents), the town building, or the tavern. We consider the place you are assigned to sleep for the event your "designated building" when deciding if you receive the corresponding upgrades.</p>

<p class="h4">Tools</p>

<p>You may use a single tool for each of your professions but gain no additional bonus for tools that duplicate the same benefit. </p>

<p class="h4">Upkeep</p>

<p>Over time and with use, even our best-built items need maintenance. Upkeep is the in-game representation of necessary recharging, repairing, or rebuilding of existing items. The upkeep process occurs once every year at the end of the final fall event. At Checkout of that last event, players must provide the required upkeep cost for each item that requires upkeep or the item is lost. You will find any upkeep costs on the corresponding recipe card for that item. Not all items require an Upkeep Cost, and all things that need an Upkeep Cost will confirm this on the item card.</p>


<p>Additionally, Consumables (or single-use items) such as potions, talismans, runes, etc., do not usually require an upkeep cost and last until used. All non-consumable items that confer an effect are subject to an upkeep cost. The Permanency spell will remove an upkeep cost from an item; however, casting Permanency on an item must be done at the time of creation. Some things you find on quests or receive as rewards may already be permanent, and we will note if an item is permanent on the item card.</p>

<p class="h2 text-center">Collector Professions</p>
<p>Collector Professions are used during events to collect resources from in-game locations known as Resource Nodes. These Resource Nodes allow you to obtain random material, some of which are unobtainable by the Gathering Professions. You must complete the appropriate roleplay time and turn the Resource Card into the Crafting Box by writing your name, the Profession Skill, and the Rank used on the bag.</p>


<p class="h5">Coalescer</p>
<b>Novice Coalescer</b>: You may expend 2 Labor at a Novice Coalescing Node to obtain a random Rank 1 Gem.<br>
<b>Journeyman Coalescer</b>: You may expend 4 Labor at a Journeyman Coalescing Node to obtain a random Rank 2 Gem.<br>
<b>Master Coalescer</b>: You may expend 8 Labor at a Master Coalescing Node to obtain a random Rank 3 Gem.<br>
<br>
<p class="h4">Excavator</p>
<b>Novice Excavator</b>: You may expend 2 Labor at a Novice Excavating Node to obtain a random Rank 1 Ore.<br>
<b>Journeyman Excavator</b>: You may expend 4 Labor at a Journeyman Excavating Node to obtain a random Rank 2 Ore.<br>
<b>Master Excavator</b>: You may expend 8 Labor at a Master Excavating Node to obtain a random Rank 3 Ore.<br>
<br>
<p class="h5">Harvester</p>
<b>Novice Harvester</b>: You may expend 2 Labor at a Novice Harvesting Node to obtain a random Rank 1 Fruit or Flower.<br>
<b>Journeyman Harvester</b>: You may expend 4 Labor at a Journeyman Harvesting Node to obtain a random Rank 2 Fruit or Flower.<br>
<b>Master Harvester</b>: You may expend 8 Labor at a Master Harvesting Node to obtain a random Rank 3 Fruit or Flower.<br>
<br>
<p class="h5">Logger</p>
<b>Novice Logger</b>: You may expend 2 Labor at a Novice Logging Node to obtain a random Rank 1 Wood.<br>
<b>Journeyman Logger</b>: You may expend 4 Labor at a Journeyman Logging Node to obtain a random Rank 2 Wood.<br>
<b>Master Logger</b>: You may expend 8 Labor at a Master Logging Node to obtain a random Rank 3 Wood.<br>
<br>
<p class="h5">Skinner</p>
<b>Novice Skinner</b>: You may expend 2 Labor at a Novice Skinning Node to obtain a random Rank 1 Hide, Animal, Insect, or Part.<br>
<b>Journeyman Skinner</b>: You may expend 4 Labor at a Journeyman Skinning Node to obtain a random Rank 2 Hide, Animal, Insect, or Part.<br>
<b>Master Skinner</b>: You may expend 8 Labor at a Master Skinning Node to obtain a random Rank 3 Hide, Animal, Insect, or Part.<br>

<p class="h2 text-center">Gathering Professions</p>
<p>Gathering Professions are used only during check-in, where you may expend Labor in exchange for materials. You may only do this up to three times of any rank, regardless of your total Labor. Certain Gathering Professions allow you to choose your outcome, while others are random.</p>


<p class="h5">Farmer</p>
<b>Novice Farmer</b>: You may expend 2 Labor at check-in and choose to get either one Produce or one random Rank 1 Fruit/Flower.<br>
<b>Journeyman Farmer</b>: You may expend 4 Labor at check-in to get one random Rank 2 Fruit/Flower.<br>
<b>Master Farmer</b>: You may expend 8 Labor at check-in to get one random Rank 3 Fruit/Flower.<br>
<br>

<p class="h5">Hunter</p>
<b>Novice Hunter</b>: You may expend 2 Labor at check-in and choose to get either one Hide, one random Rank 1 Animal/Insect, or one random Rank 1 Animal Part.<br>
<b>Journeyman Hunter</b>: You may expend 4 Labor at check-in and choose to get either one Troll Hide, one random Rank 2 Animal/Insect, or one random Rank 2 Animal Part.<br>
<b>Master Hunter</b>: You may expend 8 Labor at check-in and choose to get one Fae Skin, one random Rank 3 Animal/Insect, or one random Rank 3 Animal Part.<br>
<br>

<p class="h5">Lumberjack</p>
<b>Novice Lumberjack</b>: You may expend 2 Labor at check-in to get 1 Raw Wood.<br>
<b>Journeyman Lumberjack</b>: You may expend 4 Labor at check-in and choose to get either one Raw Ironwood or one Raw Stonewood.<br>
<b>Master Lumberjack</b>: You may expend 8 Labor at check-in and choose to get either one Heartwood, one Ghostwood, or one Treantwood.<br>
<br>

<p class="h5">Miner</p>
<b>Novice Miner</b>: You may expend 2 Labor at check-in and choose to get either one Iron Ore, one Copper Ore, or one Raw Glass.<br>
<b>Journeyman Miner</b>: You may expend 4 Labor at check-in and choose to get either one Steel Ore, one Silver Ore, or one Lead.<br>
<b>Master Miner</b>: You may expend 8 Labor at check-in and choose to get either one Mythril Ore or one Gold Ore.<br>
<br>

<p class="h5">Panner</p>
<b>Novice Panner</b>: You may expend 2 Labor at check-in and choose to get either one Lesser Elemental Gem or one White Pearl.<br>
<b>Journeyman Panner</b>: You may expend 4 Labor at check-in and choose to get either one Raw Elemental Gem or one Gold/Black Pearl.<br>
<b>Master Panner</b>: You may expend 8 Labor at check-in and choose to get either one Elemental Gem Cluster of your choice or one Pink Pearl.<br>
<br>

<p class="h2 text-center">Refining Professions</p>

<p>Refining Professions allow you to take raw materials and refine them into improved ingredients for use by the Crafting Professions, resulting in better-end products. These refinements may have additional applications, which you make during gameplay or Checkout. To refine: you must be at the required building if necessary, expend an amount of Labor, and turn out the needed materials to the Crafting Box.</p>

<p class="h5">Butcher</p>
<b>Novice Butcher</b>: Required Building: Tavern: You may expend 2 Labor to turn any Rank 1 Animal/Bug material into 1 Meat.<br>
<b>Journeyman Butcher</b>: Required Building: Tavern: You may expend 4 Labor to turn any Rank 2 Animal/Bug material into 1 Fat.<br>
<b>Master Butcher</b>: Required Building: Tavern: You may expend 8 Labor to turn any Rank 3 Animal/Bug material into 1 Vitriol. <br>
<br>

<p class="h5">Carpenter</p>
<b>Novice Carpenter</b>: Required Building: Forge: You may expend 2 Labor to turn one Raw Wood into one Lumber.<br>
<b>Journeyman Carpenter</b>: Required Building: Forge: You may expend 4 Labor to turn any Rank 2 Wood into Lumber of the same type.<br>
<b>Master Carpenter</b>: Required Building: Forge: You may expend 8 Labor to turn any Rank 3 Wood into Lumber of the same type.<br>
<br>

<p class="h5">Gemcutter</p>
<b>Novice Gemcutter</b>: You may expend 2 Labor to turn 1 Lesser Gem into 1 Cabochon Gem of the same type.<br>
<b>Journeyman Gemcutter</b>: You may expend 4 Labor to turn 1 Raw Gem into 1 Round Gem of the same type.<br>
<b>Master Gemcutter</b>: You may expend 8 Labor to turn 1 Gem Cluster into 1 Trilliant Gem of the same type.<br>
<br>

<p class="h5">Glassmaker</p>
<b>Novice Glassmaker</b>: Building Required: Forge. You may expend 2 Labor along with one Raw Glass and one Charcoal to produce one Refined Glass. <br>
<b>Journeyman Glassmaker</b>: Building Required: Forge. You may expend 4 Labor along with 1 Raw Glass and 1 Lead to produce 1 Crystal. <br>
<b>Master Glassmaker</b>: Building Required: Forge. You may expend 8 Labor along with one Crystal and one Gem Cluster to produce one Infused Crystal of the same type.<br>
<br>

<p class="h5">Papermaker</p>
<b>Novice Papermaker</b>: You may expend 2 Labor to turn 1 Raw Wood or Produce into 1 Parchment. * Parchment Special Use (Costs 2 Labor): Turn in 1 Parchment after 5 Minutes of Roleplaying to produce a copy of a Novice Recipe you possess.<br>
<b>Journeyman Papermaker</b>: You may expend 4 Labor to turn 1 Ironwood or Rank 2 Flower into 1 Vellum. * Vellum Special Use (Costs 4 Labor): Turn in 1 Vellum after 10 Minutes of Roleplaying to produce a copy of a Journeyman Recipe you possess.<br>
<b>Master Papermaker</b>: You may expend 8 Labor to turn 1 Rank 3 Wood or Flower into 1 Aetherslip. * Aetherslip Special Use (Costs 8 Labor): Turn in 1 Aetherslip after 15 Minutes of Roleplaying to produce a copy of a Master Recipe you possess.<br>
<br>

<p class="h5">Smelter</p>
<b>Novice Smelter</b>: Building Required: Forge. You may expend 2 Labor and 2 + X Wood to produce X Charcoal. <br>
<b>Journeyman Smelter</b>: Building Required: Forge. You may spend the required Labor based on the Rank of Ore along with 5 of the same type of Ore and one charcoal to refine one ingot.<br>
<b>Master Smelter</b>: Building Required: Forge. You may expend 8 Labor along with one Steel Ore and one Gem Cluster to produce one Infused Ore of the same type.<br>
<br>

<p class="h5">Tanner</p>
<b>Novice Tanner</b>: You may expend 2 Labor to turn one Hide into one Leather.<br>
<b>Journeyman Tanner</b>: You may expend 4 Labor to turn one Troll Hide into one Troll Leather.<br>
<b>Master Tanner</b>: You may expend 8 Labor to turn one Fey Skin into one Fey Leather.<br>
<br>

<p class="h5">Weaver</p>
<b>Novice Weaver</b>: You may expend 2 Labor to turn any Rank 1 Fruit/Flower or Produce into one Linen.<br>
<b>Journeyman Weaver</b>: You may expend 4 Labor to turn any Rank 2 Fruit/Flower into one Silk.<br>
<b>Master Weaver</b>: You may expend 8 Labor to turn any Rank 3 Fruit/Flower into one Dreamcloth.
<br>
<p class="h2 text-center">Crafting Professions</p>


Crafting Professions are used during the event or at Checkout. Crafting a recipe requires a physical, yellow-stickered copy of the recipe, the associated skill, the materials listed, and any other notable restrictions necessary on your recipe card. You receive a random starting recipe with every Novice Crafting Profession you learn. You will discover more through experimenting with your craft, adventuring, learning from others, or purchasing from merchants. There is no limit to the number of recipes you may possess or learn from other players.</p>

<b>Architect</b>: Novice, Journeyman, Master<br>
<b>Blacksmith</b>: Novice, Journeyman, Master<br>
<b>Brewer</b>: Novice, Journeyman, Master<br>
<b>Chef</b>: Novice, Journeyman, Master<br>
<b>Glassblower</b>: Novice, Journeyman, Master<br>
<b>Lapidary</b>: Novice, Journeyman, Master<br>
<b>Leatherworker</b>: Novice, Journeyman, Master<br>
<b>Tailor</b>: Novice, Journeyman, Master<br>
<b>Trapmaker</b>: Novice, Journeyman, Master <br>
<b>Woodworker</b>: Novice, Journeyman, Master<br>

<p class="h2 text-center">Enhancement Professions</p>

Enhancement Professions provide additional abilities that improve various interactions within the game world by providing further actions or information. 

<p class="h5">Appraiser</p>
<b>Novice Appraiser</b>: You will receive a list of the available prices of often traded goods at check-in. The list will be updated from game to game as estimates fluctuate based on the in-game economy and plot.<br>
<b>Journeyman Appraiser</b>: Upon purchasing, you will receive information on deciphering the value code on trade goods that possess such a code.<br>
<b>Master Appraiser</b>: Once per Event at Check out, you may check out an item with a Value Code to gain that amount of coin at the next Check-in. There is a maximum of five gold.<br>
<br>

<p class="h5">Mender</p>
<b>Novice Mender</b>: Building Required: Forge. You may expend 5 minutes and one raw material of the appropriate type based on the item: Restore 1 Armor to all locations of that Armor or Repair a Broken Weapon/Shield. You may expend 2 Labor instead of the required material to repair a set of Rank 1 Armors fully.<br>
<b>Journeyman Mender</b>: Building Required: Forge. You may expend 10 minutes and one raw material of the appropriate type based on the item to Restore 2 Armor to all locations of that Armor. You may spend 4 Labor instead of the required material to fully repair a set of Rank 2 Armors.<br>
<b>Master Mender</b>: Building Required: Forge. You may expend 15 minutes and one raw material of the appropriate type based on the item to restore 3 Armor to all locations of that Armor. You may spend 8 Labor instead of the required material to repair a set of Rank 3 Armor fully.<br>

</div>