<%= provide(:title, 'Damar Keep') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h1 text-center">Damar Keep</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/town/damarkeep.png", :class => "img-fluid mx-auto d-block") %>
    </div>
  </div>
<br>
</div>
