<%= provide(:title, 'Earn XP') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/earnxp/earnxp-header.jpg", :class => "img-fluid mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h1 text-center">Earn XP Today!</p>
      <p>By helping the Myth community you can earn valuable xp points. These points can be spent toward leveling up, buying professions, the xp store, or gifted to friends.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h3">Season Pass</p>
      <p>Signing up as a player for all games for a season (Spring/Fall) before the Early Bird pricing of the first game will grant you 100 xp per game that you may begin to spend immediately.</p>
      <p class="h3">Item Donation</p>
      <p>Our plots and mods would not be as great without the support of our players. By donating items, you ensure Myth has the latest and greatest in props, costuming and effects for the adventures you will go on. Simply view our Amazon Gift Registry at <a href="https://www.amazon.com/registries/gl/guest-view/1R30F4SQSQPOR" target="_blank">https://www.amazon.com/registries/gl/guest-view/1R30F4SQSQPOR</a>. <br>
      Should you purchase anything you must forward the confirmation email to our donation manager at Andrew.Warzocha@gmail.com to ensure we credit you appropriate. XP is awarded at 1 XP per dollar unless otherwise stated in the item comments.</p>
      <p class="h3">Refer A Friend</p>
      <p>What better way to earn xp than refer your friends and family to Myth and have a weekend of adventure.
      Should you refer a friend to the game, have them reach out to support@mythlarp.com with your details and let them know you are the reason they are now in Damar Keep. You will earn 100 xp as well as memories.</p>
      <p class="h3">Clean Up / Break Down</p>
      <p>Setting up and breaking down camp can be an long task but many hands make light work. By coming to game early or staying late you can earn 20 xp per hour for your time spent helping. By staying till the bitter end, your XP earned will double! See the Mythgnomers Facebook group for details.</p>
      <p class="h3">Check Facebook For More</p>
      <p>Your help is always appreciated. Emergency donations, volunteer opportunities and other ways to earn xp can always be found on Mythgnomers. Join and follow the group to get notified when something that strikes your fancy presents itself.</p>
    </div>
  </div>
</div>