<div class="container col-12 mt-4">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/earnexp/earnexp-header.jpg", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h1 text-center">Earn Exp Today!</p>
      <p>By helping the Myth community you can earn valuable exp points. These points can be spent toward leveling up, buying professions, the exp store, or gifted to friends.</p>
    </div>
  </div>
  <div class="row">
  <div class="col-12 mt-2">
    <p class="h3">Item Donation</p>
    <p>Our plot and mods would not be as great without the support of our players. By donating items, you ensure Myth has the latest and greatest in props, costuming and effects for the adventures you will go on.</p>
    <p>For a list of items we are looking for and how to donate visit our Trello board: <a href="https://trello.com/b/RgOnZf54/donation-board" target="_blank">https://trello.com/b/RgOnZf54/donation-board</a></p>
    <p class="h3">Refer A Friend</p>
    <p>What better way to earn exp than refer your friends and family to Myth and have a weekend of adventure.
    Should you refer a friend to the game, have them reach out to support@mythlarp.com with your details and let them know you are the reason they are now in Damar Keep. You will earn 100 exp as well as memories.</p>
    <p class="h3">Clean Up / Break Down</p>
    <p>Setting up and breaking down camp can be an long task but many hands make light work. By coming to game early or staying late you can earn exp for your time spent helping. See the Mythgnomers Facebook group for details.</p>
    <p class="h3">Check Facebook For More</p>
    <p>Your help is always appreciated. Emergency donations, volunteer opportunities and other ways to earn exp can always be found on Mythgnomers. Join and follow the group to get notified when something that strikes your fancy presents itself.</p>
  </div>
</div>
</div>