<%= provide(:title, 'Event Schedule') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h1 text-center">Event Schedule</p>
      <p>Myth events run from Friday evening to Sunday afternoon with game off time during the overnight hours. While you may elect to stay in character during game off times, plot will not be ran.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="h3">Friday</p>
      <ul>
        <li>Prior to 5PM - Setup</li>
        <ul>
          <li>Please check Facebook / Discord for when you can show up to help with Setup to earn XP or show up to camp to setup your cabin as this will vary event to event.</li>
        </ul>
        <li>5PM - Check-in</li>
        <ul>
          <li>Weapon Inspection</li>
          <li>Couriers/Oracles/Scry/Identify Results</li>
          <li>Withdraw coin from the bank</li>
          <li>Perform Gathering Professions</li>
          <li>Get your brew of the month bracelet and dinner meal ticket</li>
        </ul>
        <li>8PM - New Player Meeting</li>
        <ul>
          <li>Face to face introduction of New Player Liaisons</li>
          <li>Game calls overview</li>
          <li>Lightest touch combat training</li>
        </ul>
        <li>9PM - Player Meeting</li>
        <ul>
          <li>Rules changes for the event</li>
          <li>Major announcements</li>
          <li>Overview of Player expectations</li>
        </ul>
        <li>10PM - Game On</li>
        <li>2AM - Game Off</li>
      </ul>
      <p class="h3">Saturday</p>
      <ul>
        <li>7:30AM - Breakfast Service Begins</li>
        <li>8:15AM - Breakfast Service Ends</li>
        <li>9:00AM - Game On</li>
        <li>12:00PM - Cast Lunch</li>
        <li>5:00PM - Dinner Service Starts</li>
        <li>5:45PM - Dinner Service Ends</li>
        <li>2:00AM - Game Off</li>
      </ul>
      <p class="h3">Sunday</p>
      <ul>
        <li>7:30AM - Breakfast Service Begins</li>
        <li>8:15AM - Breakfast Service Ends</li>
        <li>8:30AM - Check-Out Begins</li>
        <li>9:00AM - Game On</li>
        <li>10:30AM - Check-Out Ends</li>
        <li>12:00PM - Game Off</li>
        <li>12:00PM - Closing Meeting</li>
        <li>12:00PM - Breakdown Begins</li>
      </ul>
    </div>
  </div>
</div>