<%= provide(:title, 'FAQ') %>
<div class="pagetitle">Frequently Asked Questions</div>
<p>This page is the FAQ for the Myth Character Sheet. This page will explain how to use the site and answer some of the frequent questions that people ask about it.</p>
  
<h5><b>How do I navigate the Site?</b></h5>
  <p>
    There are four main navigation areas on the site.<br>
    <b>The World</b> - Links related to the game lore.<br>
    <b>The Game</b> - Links related to camp, events and anything out of game.<br>
    <b>Profile</b> - Links related to yourself. They include events you the person have included, your XP log, and profile settings.<br>
    <b>Left-hand Menu</b> - These links are areas your character would visit and are specific to the character you are logged into. They include events for that character, couriers sent by that character, logs for that character, etc.
  </p>

<h5><b>How do I change my sleeping arrangement?</b></h5>
  <p> 
    Sleeping area selection is an instrumental part of event registration. 
    <ol>
      <li>Click on the Events link on the left-hand menu or under Profile</li>
      <li>Click the name of the event you wish to update your sleeping arrangement for</li>
      <li>Click the name of the sleeping arrangement. If you have no sleeping arrangement it will say "None - Update Now"</li>
      <li>Select your sleeping arrangement!</li>
    </ol>
  </p>
  
<h5><b>How do I provide feedback after an event?</b></h5>
<p> 
  First thank you for attending! After every Myth event you have the opportunity to answer a feedback questionnaire. The production team of Myth
  uses the feedback from players and cast to constantly improve the Myth experience for everyone. If you get your feedback in within two weeks of the event
  you will earn 100 XP for your character. Your feedback helps improve the game for everyone and earns yourself XP so please try to provide it after every
  event. The process for providing feedback is slightly different for players and cast so make sure you read the correct section below to provide your feedback. 
</p>
  <ol>
    <li>Under the Profile tab, select Events</li>
    <li>Find the event that just occured on the table of events and click the blue "Submit Feedback" text under the feedback column.</li>
    <li>Go through and answer all of the questions listed in the feedback form. Take your time and include as much information as you want. It is highly recommended to do it in a word processor to check spelling/grammar.</li>
    <li>Ensure that you click submit at the bottom of the form when you are done providing your feedback.</li>
  </ol>

<h5><b>When do sheets lock?</b></h5>
  <p>The following is due two weeks following the end of most recent game. After the two week window, they will lock and be unable to be submitted until the next game
  <ul>
    <li>Couriers</li>
    <li>Prayers</li>
    <li>Oracles</li>
  </ul>
  <p>Two weeks before the start of next event the rest of site will lock in preparation for the event. During this time, certain portions will be locked for all users, regardless of registration status
  <ul>
    <li>Leveling up</li>
    <li>Learning new skills / Refunding purchased skills</li>
    <li>Learning new professions</li>
    <li>Purchasing from the XP store</li>
    <li>Updating your sleeping arrangement</li>
    <li>Purchasing a meal plan</li>
    <li>Editing your character</li>
  </ul></p>

  <h5><b>How do I transfer my XP?</b></h5>
    <p> 
      By going to the Profile -> XP Log page you will see a link to transfer XP in the top right corner. If the link is unavailable the following may be true:
      <ul>
        <li>You do not have an XP you can transfer</li>
        <li>You have not attended an Adventure Weekend event in the last 6 months</li>
        <li>You are listed as permanent cast on the website</li>
        <li>You have already transferred 300 XP to other players this year</li>
        <li>The person you are trying to transfer to has already received 300 XP this year</li>
      </ul>
    </p>