<%= provide(:title, 'FAQ') %>
<div class="pagetitle">Frequently Asked Questions</div>
<p>This page is the FAQ for the Myth Character Sheet. This page will explain how to use the site and answer some of the frequent questions that people ask about it.</p>
  
<h5><b>How do I navigate the Site?</b></h5>
  <p>
    There are four main navigation areas on the site.<br>
    <b>The World</b> - Links related to the game lore.<br>
    <b>The Game</b> - Links related to camp, events and anything out of game.<br>
    <b>Profile</b> - Links related to yourself. They include events you the person have included, your XP log, and profile settings.<br>
    <b>Left-hand Menu</b> - These links are areas your character would visit and are specific to the character you are logged into. They include events for that character, couriers sent by that character, logs for that character, etc.
  </p>

<h5><b>How do I select a cabin?</b></h5>
  <p> 
    Cabin selection is an instrumental part of event registration. 
    <ol>
      <li>Click on the Events link on the left-hand menu or under Profile</li>
      <li>Click the name of the event you wish to update your cabin for</li>
      <li>Click the name of the cabin. If you have no cabin it will say "None - Update Now"</li>
      <li>Select your cabin!</li>
    </ol>
  </p>
  
<h5><b>How to a provide feedback after an event?</b></h5>
<p> 
  First thank you for attending! After every Myth event you have the opportunity to answer a feedback questionnaire. The production team of Myth
  uses the feedback from players and cast to constantly improve the Myth experience for everyone. If you get your feedback in within two weeks of the event
  you will earn 100 XP for your character. Your feedback helps improve the game for everyone and earns yourself XP so please try to provide it after every
  event. The process for providing feedback is slightly different for players and cast so make sure you read the correct section below to provide your feedback. 
</p>
  <ol>
    <li>Under the Profile tab, select Events</li>
    <li>Find the event that just occured on the table of events and click the blue "Submit Feedback" text under the feedback column.</li>
    <li>Go through and answer all of the questions listed in the feedback form. Take your time and include as much information as you want. It is highly recommended to do it in a word processor to check spelling/grammar.</li>
    <li>Ensure that you click submit at the bottom of the form when you are done providing your feedback.</li>
  </ol>