<div class="container col-12 mt-4 mb-2" id="racespage">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/races/races-header.jpg", :class => "img-fluid mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
      Header Stuff Goes Here
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="RaceLink">
      <a id="DaleElvesLink" href="./races">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Dale Elves
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="RacePreview">
    <div class="container col-6">
      <h4>Common Names</h4>
        <p>Araiel, Carwyn, Dariel, Falyr, Marys, Lowen, Ryell</p>
      <h4>Capital City</h4>
        <p>No Formal Capital</p>
      <h4>Notable Figures</h4>
        <p>Enderion Lathellis, Arbelei the Maelstrom</p>
    </div>
    <div class="container col-6">
      <h4>Core Values</h4>
        <p>Freedom, exploration, balance of nature</p>
      <h4>Common Classes/Professions</h4>
        <p>Ranger, hunter, healer, scholar</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="DaleElvesDetails">
      <h4>Culture</h4>
        <p>Dael’El live in tribes in the forest, although individual elves often wander alone or live in smaller rural settlements. Their culture is very much influenced by the Wildren respect for nature. They consider themselves to be the Wildren’s protectors. Like their Eldar'El cousins, they appreciate the finer things in life, but especially appreciate the natural beauty of the world around them and are curious about new objects. To honor the natural world around them, their jewelry and other finery is mostly made of items found around them and worked with a minimum number of tools. Materials such as grasses, feathers, shells, horns, and soft stones can be worked into baskets, pendants, and other symbolic works of art. They find peace in the wilderness: they will venture into town when they need something but mostly keep to the woods. They are very observant and know when a leaf is out of place. They are exceptional at tracking. They see and hear many things that happen in the forest shadows. They collect knowledge that they overhear, and this fuels their curiosity.</p>
        <p>There have always been those amongst the Dael’El who felt out of place and joined communities. Some want to become more civilized and turn their backs on the woodlands and their traditions. Others are instead inclined to explore the wilds and see how other tribes live throughout the kingdoms. Because of this variation, Dael’El culture combines elements of the old world and modern times.</p>
        <p>The Dael’El in this region tend to stick to the woodlands and watch and listen to what is going on. The shadows of the towns tend to be filled with the watchers of the woods. They are the secret keepers who hear and see everything.</p>
      <h4>Appearance</h4>
      <h5>Mark of Glamour</h5>
        <p>As a remnant of their Fae overlords, elves can use a small amount of glamour to produce markings on the skin to change their physical appearance. In Dael’El, these patterns tend towards earthen tones, vines, animals, or other patterns which further camouflage them into the woodlands.
      Like their Eldar’El cousins, they prefer to keep them conservative, patterning the hairline, cheeks, or some moderate combination. When they reach adulthood, these markings are chosen and become permanent during a cultural ritual. The ritual uses permanent paint to outline their adult markings, otherwise they will fade as they become elders in their tribes.</p>
      <h4>Structure</h4>
        <ul>
          <li>Tribal
          <li>Keeper
          <li>Healer
          <li>Warden
          <li>Matriarch
        </ul>
      <h4>Racial Relations</h4>
        <p>Dael’El are an accepting people overall. They enjoy sharing a fire and hearing about others' adventures. They are willing to share how they survive in the forest. They are not shy about letting others know where their boundaries are when called for. They freely conduct trade with many races and are intrigued by Dwarves and Sukh, even though these races live off the land in very different ways. Although wary of them, they are tolerant enough of humans. They feel humans lack common sense and seem to find themselves in trouble quite a bit. Half-elves are case by case, whether they are willing to tolerate them. If they seem to have more human tendencies the Dael’El will avoid them.</p>
      <h5>Eldar’El</h5>
        <p>Kin and allies, Dael’El value the Eldar’El as cousins, if particularly dull and frivolous ones. Eldar’El are among the few invited to partake in Dael’El holy days, and some Dale Elves still take pilgrimages to Eldar’El cities and temples as part of the cultural education that gives them insight into other races. They are allies in politics, although in individual interactions many Dael’El will attempt to make jest or crack the vain exterior of a High Elf companion. The Eldar’El get frustrated with the Dael’El’s free thinking, spontaneous joy in life.</p>
      <h5>Wildren</h5>
        <p>Their other allies and neighbors in the wilds, the Wildren are held in Dael’El culture as the highest goal for what their people can achieve by bonding with the natural world. However, the Dael’El also consider themselves much more civilized and mature than the Wildren. They tend to view them as young hearted—although they like to believe this is a well-kept secret, as they believe in maintaining the appearance of equality. They protect Wildren and the woods as a guardian would. In the process, they continue to learn from their constant spiritual connection with the forests and nature.</p>
      <h5>Dep’El</h5>
        <p>The Dael’El are forbidden to interact with the Dep’El. The Tribal elders have forbidden any contact with them at all: no trade, and no celebrations of any kind. If the Dep’El will attend, they must leave. The Dael’El attempt to warn others of the treacherous nature of the Dep’El, constantly referring to them as the ‘Dark Elves’ and condemning their society as barbaric and criminal. They claim the Dep’El are known for taking what they want when they want, with no regard for the health of the forest or of others around them. As the Dael’El see it, the Dep’El’s close-held belief that all is well if the ends support the means led to one of the biggest betrayals in Dael’El history, and they will never forget the scars it has left.</p>
      <h5>Goblins</h5>
        <p>Dael’El find the goblins unnatural. They feel they are tainted by evil and they do not wish to be around them. The Dael’El cannot stand the thought of corrupting their weapons with goblins blood, since they are unsure whether it would destroy them. So, they avoid killing Goblins, but they will try to scare them off if they seem to be settling in too much. They avoid them as much as possible both in town and in the woodlands.</p>
      
      <h4>History</h4>
        <p>There were always those amongst the Elves who felt out of place, inclined to explore the wilds, and see how other tribes live throughout the kingdoms. While there were many who thought this way, talking to others about these “strange notions” would usually result in ostracism if discussed frequently. On an expedition to the Pale Lands, these outcasts would discover the Wildren. Enderion Lathellis, leader, felt the Wildren’s shared ancestry with the Fae. After the expedition ended, Enderion and some of his most trusted friends returned to learn from the Wildren. Over the next few decades, Enderion realized that he and his companions were able to move through the woods with ease and started feeling more at home there than in the elven cities. With this discovery in hand, Enderion started spreading the word of “another way” for elves to live. He invited elves to explore the wilds themselves and see the changes it may enact. In time, he gathered enough interest to gain an audience with hierarchs, where he asked to take those who were not suited to city life and see how they fared in the wilds. To his surprise, the hierarchs agreed to his terms, though the reason why was unclear. Thus, Enderion took his people and left for the Moonfell Wood to establish their first of many colonies.</p>
        <p>While the Eldar’El had fully embraced their fay ancestry, the Wildren had given it up completely, binding themselves to the natural world. The newly established Dael’El found their place between the two: a civilization centered around cultivating a deep understanding of the natural laws in hopes that it would lead to a deeper connection to the world itself. Shortly thereafter, the more studious of the colonists learned the magics of nature and the elements, and those that were more martially inclined adapting to hunting. Led by their first High Keeper Enderion Lathellis, they never forgot their heritage even in their new home. They remained friendly to the Eldar’El and thankful that they were given the opportunity to explore themselves and find a home. In time, other curious members of the Eldar’El left their cities to join the tribes of Dale Elves that were popping up in all the nearby forests, and Dael’El numbers grew. This influx of new voices, desires, and excitement enriched the Dael’El tribes, but it also created tensions with the Wildren.</p>
        <p>After Enderion’s passing decades later, the first full Dale Elf was appointed as High Keeper. Arbelei the Maelstrom was a master of the elements of the natural world and a follower of Ororo, god of elemental storms. Ambitious from the start, Arbelei led the Dael’El to expand into dangerous territories. He saw the young and aggressive Humans as a threat and sought to take a forest that bordered Human territory. In the process of taking the forest, the Dael’El discovered that a few Wildren families resided there. Arbelei’s lust for power directed his warriors to drive them out. These Wildren families alerted other families and tribes in the area as well as the Humans, sparking conflict between the three races. Out of kinship, the Eldar’El advised Arbelei against these actions, but he did not listen. Thus the Eldar’El reached out to these Humans and Wildren in hopes that negotiations would help end the conflict. While the Wildren and Humans were more than willing to make reasonable compromises, it was never enough for Arbelei.</p>
        <p>Many among the Dael’El saw that Arbelei was leading them down a path that would irreparably harm their relations with the Wildren, Humans, and even the Eldar’El. Most of these elves felt obligated to help Arbelei regardless, but a splinter group decided it was time to take action. Going against the wishes and without the blessing of the rest of their people, they assassinated not only Arbelei, but all his children as well. The next High Keeper followed the Eldar’El’s advice in the conflict, easing their tensions with the Humans and Wildren. This new High Keeper also banished this new group of elves, as despite their intentions they had committed an unforgivable act to the Dael’El. This sizable group of “blood traitors” later became known as the Dep’El, and the Dael’El cut all ties to them. As time went on, the Dael’El seemed to be forgiven by the Wildren and Humans, but the elves had not forgotten what pain they had caused. Learning from their mistakes, they found a new purpose and duty: not only to understand and connect with nature, but also to be the bridge between the natural world and “civilized” peoples. The lore that they retained from the Eldar’El and the stories they learned from the Wildren gave them the knowledge they needed to make this possible. The bond that they share with nature keeps them strong and proud.</p>  
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="RaceLink">
      <a id="DeepElvesLink" href="./races">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Deep Elves
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="RacePreview">
    <div class="container col-6">
      <h4>Common Names</h4>
        <p>Rumulri, Ayen, Elanil, Castien, Meira</p>
      <h4>Capital City</h4>
        <p>Aurel</p>
    </div>
    <div class="container col-6">
      <h4>Core Values</h4>
        <p>Structure, success, loyalty</p>
      <h4>Common Classes/Professions</h4>
        <p>Craftspeople (tailoring, artificing), diplomat, merchant</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="DeepElvesDetails">
      <h4>Culture</h4>
        <h5>Religion: The Spider: Idol of the Underdark</h5>
          <p>Though the Dep'El continue to worship the Ennead Lumenari,time in the Underdark has weakened the faith of younger generations, who have turn to an increasingly popular worship of Spiders. Growing numbers of Dep'El have turned to praying to goddesses of the web, asking for protection in the dark, whispers of secrets, or a path to riches. At times, sects of worshippers oppose the Dep'El way of life, and become confrontational. However, most sects of Spider worshippers remain peaceful.</p>
        <h5>The Matriarchy</h5>
          <p>Women take up roles such as advisor, leaders, priestesses, and other professions that require more brain than muscle. Men take up roles such as soldiers and laborers.</p>
        <h5>Expectations</h5>
          <p>Contrary to public opinion, Dep’El are an incredibly collaborative people. They expect any decision made to support the generality, although with the leeway that the ends may justify the means. This has led to what other races may consider extreme being commonplace; some Dep’El would rather self-exile or end their own life rather than fail to serve their community.</p>
          <p>The Dep’El markets are filled with unique goods. Their Underdark civilization has led to the development of new meats, crops, and raw materials than any other race in their quest to simply survive. Their meals tend to be extravagant, though the creatures they come from may not look as such, such as the self-explanatory marsh slugs. Dep’El are particularly fond of the various different types of mushrooms such as wavenstrem, ignire, and uuthli, that are found in the underdark. They harvest silk worms to produce their clothing, as well as dry some of the lichen and fungi they come across to develop more types of clothing. There is a rumor that some Dep’El clothing will glow in the right conditions, but these conditions have yet to be found by surface dwellers (see House Dwerran for more).</p>
        <h5>Rumors</h5>
          <p>The Dep’El have remained outside of the normal stream of trade and economy since their escape to Delvahel. Since their attempts to reconnect with the surface, rumors (likely originating from among Dael’El groups) have spread incessantly as to their savagery, that living in the Underdark has corrupted them, and that they are of a brutal and tasteless culture. They claim that if a Dep’El isn’t trying to outright kill you, then they are lying. While some Dep’El survival measures would be considered drastic by outsiders, these could not be further from the truth, and representatives within Dep’El houses work endlessly to maintain a more accurate image conducive to business and diplomacy for all their people.</p>
        
      <h4>Appearance</h4>
        <p>In the most distinct difference from their aboveground counterparts, the Dep’El tend to have darker skin, ranging pale gray to shades of purple. Their hair can be any color, though paler colors tend to be the norm, and most often in any shade from blonde to white. They have the ability to glamour and same pointed ears which indicate their begrudging membership of the El race.</p>
        <h5>Mark of Glamour</h5>
          <p>Dep’El of certain statuses often take Glamours on their faces. While monarchs do not ornate themselves in this way (for it is assumed they do not need to), these markings are often associated with one’s house and indicate a status that may not be immediately recognizable but is important to social conduct. Glamours on both cheeks indicate a Royal Jester, looked down upon by most Dep’El (see culture). Glamours along the right temple would be a royal guard, whereas a royal advisor would keep them on the left. A royal suitor would glmaour both temples and their face, making their high status near-impossible to overlook. Should a suitor be removed from their position, their glamours would be left as a reminder of their failure to succeed, and the public would be made aware of the change via public display or announcement so the suitor could not deceive any Dep’El.</p>
        <h5>Clothing</h5>
          <p>Dep’El dress tends to be modest and, particularly when meeting outsiders, as formal as is functional, as they dread the idea of leaving any room for critique or complaint. An abundance of silkworms means many garments are made of this rare material, as well as woven or embroidered designs, and the varying temperatures of the Underdark make layers appealing to all. Many Dep’El combine fitted vests, tunics, and sashes with looser, wrapped pants and fine robes. The neck is considered particularly attractive and is often left exposed, as is also a show of strength; if one so readily bares their throat, they should also be ready to protect it. Depending on the Dep’El’s profession, many choose garments and accessories that either reflect the light (or produce their own), or outfits which blend smoothly into the shadow.</p>
      
      <h4>Structure</h4>
        <p>Divided into houses (or families), each Dep’El house has a matriarch, who is in turn supported by an adviser and a royal suitor. Each house manages its own area of Dep’El society. Matriarchs of the largest houses gather in the Quelleran.</p>
        <h5>The Quelleran</h5>
          <p>Decisions affecting the whole of the race are decided by holding council meetings, called the Quelleran. Each house’s matriarch comes to the head house’s estate to convene. They meet at least four times a year. They discuss economic development, border disputes, racial tensions, etc during this time. In times of war, they will convene more often, sometimes to multiple times a month. These meetings are heavily guarded by each house’s royal guard. There have been very few attempts of murdering all the matriarchs at once, all have been unsuccessful. Each house helps keep Dep’El society running in one aspect or another. The only responsibility that all the houses share is adding to the military force.</p>
        <h5>Matriarch</h5>
          <p>The head of the family, she leads her house as if it is a small country. Should she fail to properly govern her house (for example, to the verge of economic collapse), she will receive little to no help as it is a failure on her end to govern - unless the collapse of the house would enact any significant damage on the rest of the Dep’El, in which case emergency measures may be taken either to divide the burden amongst other houses or support her for as long as it takes to be certain of continued stability among the rest. Otherwise, the collapse of a house is simply an opportunity for another to rise to power.</p>
        <h5>Royal Suitor</h5>
          <p>Almost all matriarchs a Royal Suitor, the closest any Dep’El can get to a matriarch. The suitor acts as a bodyguard, an advisor, and a lover all at the same time. Many matriarchs hold their suitor’s word higher than their assigned advisor. However, the suitor must also tread far lighter, as a failure to appease could result in a loss of status and even house exile. Once a suitor has been outcast from the house, they may find a living among others, but it is much more likely that they will become convinced they are no longer fit for Dep’El society and flee.</p>
        
        <h5>Royal Advisor</h5>
          <p>An advisor is usually a female Dep’El who guides the matriarch on ruling her house. They provide a listening ear to walk through problem-solving and offer their own counsel in turn. Chosen through a blood line within the house, if an advisor dies prior to having offspring there is a series of intellectual trials to select a new candidate.</p>

        <h5>Royal Jesters</h5>
          <p>Entertainers to the matriarch, these jesters hold a position of disputable honor. They provide valuable relief and comfort for the matriarch and her house. Some provide culinary services; others music or storytelling; more still comedy. While their value is understood, it is noted that there are many professions that might provide more direct benefit to society, and this is not aided by the self-degradation that can accompany some of the entertainment asked of a Jester. Disdain for those who choose this life, if not the service they provide, is not uncommon.</p>

        <h5>House Allegiances</h5>
          <p>Not all houses are directly represented on the Quelleran. Smaller families instead swear allegiance to certain houses, either because they share similar ideologies or offer some sort of compensation that is better than the others. However, each house still maintains its own symbol and name. In signatures, this allegiance would be indicated by the addition of ‘bound to House…’</p>
      
      <h4>Houses of the Quelleran</h4>
        <h5>Aurel</h5>
          <p>The house with the most allegiances, Aurel is held in high respect by all due to their ingenuity and lack of xenophobia, a combination of which served to save the Dep’El during the Dael’El crisis. Since then, the Aurel have become the longest-running hosts of the Quelleran.</p>

        <h5>Tiramere</h5>
          <p>House Tiramere worked side by side with the dwarves in the construction of Delvahel. The techniques they learned in this process have since created a notable style of both Elven and Dwarven influences that can be seen throughout Dep’El cities.</p>
        <h5>Javan</h5>
          <p>The first to explore the edible fauna and flora of the underdark, Javan is known for their skilled cooks and cuisine sought by many nobility. They have also developed and maintained something of a monopoly over underground farms since the Dep’El exodus into the Underdark.</p>
        <h5>Dwerran</h5>
          <p>This house has the most skilled tailors among the Dep’El. The first to discover the silkworms in the underdark, they crafted the glowing clothing famous among Dep’El.The silk does not glow by itself, but this is a secret the House has refused to share, even amongst their House’s ever-rotating roster of apprentices.</p>
        <h5>Umberstead</h5>
          <p>Rumored to be the oldest of the houses, Umberstead is held in great respect. However, they are the most xenophobic of the houses. They believe that the Dep’El are better without outside forces and can function as a self-sustaining group.</p>
        <h5>Fr’annas</h5>
          <p>House Fr’annas is the only house to have a patriarch rather than a matriarch. Extensive time and efforts went towards proving their worth to the other houses before they were allowed on the Quelleran, and while their input is frequently discarded and many of their motions undermined, the presence of a male on the Quelleran is a step in a new direction the Dep’El originally thought impossible.</p>
        <h5>Rystran</h5>
          <p>It is a strongly supported rumor that House Rystran, new to much of society, believe that the Dael’Els were in the right. While the talk runs deep, Rystran has yet to confirm or deny any such claims at the risk of losing their new position in the Quelleran.</p>
        <h5>Veruil</h5>
          <p>A quiet house, it is common knowledge that Veruil trains the scouts, spies, and rogues of Dep’El society. They are also known for their adept skill in using mushrooms and mosses to craft effective poisons.</p>
        <h5>Teken’tlar</h5>
          <p>Teken’tlar operates the banks throughout Dep’El society. Their system is an infamously complex layering of loans, collaterals, and other such advanced fiscal measures. They typically only deal with other Dep’El and are known for charging exorbitantly high interest rates for the other races, to the point that many would rather avoid dealing with them altogether.</p>

      <h4>Racial Relations</h4>
        <p>The rumors about their people and their self-prioritization make the racial relations of the Dep’El tricky at best. They are working endlessly to expand trade and diplomacy, but after centuries of self-isolation there have been many hurdles on the road to reconnecting with the outside world, not the least of them from within. They also harbor strong feelings towards Dael’El and half elves (whom they consider to be the product of an elf with low self-esteem), which may be off-putting to potentila mutual allies. It is a work in progress.</p>
      <h5>Dael’El</h5>
        <p>The Dep’El have never forgiven the Dale Elves for forcing them into exile. While they are not officially at war, the Dep’El openly think ill of the Dael’El and refuse to open trade routes with them. Individually, Dep’El tend to use Dael’El as scapegoats for other issues and many will refuse to even share a room with Dael’El.</p>
      <h5>Wildren</h5>
        <p>Their other allies and neighbors in the wilds, the Wildren are held in Dael’El culture as the highest goal for what their people can achieve by bonding with the natural world. However, the Dael’El also consider themselves much more civilized and mature than the Wildren. They tend to view them as young hearted—although they like to believe this is a well-kept secret, as they believe in maintaining the appearance of equality. They protect Wildren and the woods as a guardian would. In the process, they continue to learn from their constant spiritual connection with the forests and nature.</p>
      <h5>Dwarves</h5>
        <p>Suitable craftsman and worthy miners, the dwarves have long held the eye of the Dep’El. They were the first to offer aid during the Dael’El crisis, and together began working on a city made of stone under the crust of the land. They then moved construction to Delvahel, the eventual capital of the Dep’El. Only a small portion of the city exists under the ground. The Dwarves and Dep’El worked for many years to construct this city. The exploration of the Underdark, the survival of the swarming reptiles, and the construction of the city brought the Dep’El and Dwarves close for many years. They have remained close to this day. Dep’El will fight to keep relations with dwarves in good standing, one of the few times who will see a Dep’El noble lose a cool demeanor is when a dwarf is threatened.</p>

      <h4>History</h4>
        <p>All Elves share a common ancestry in the legendary fairy-folk. But while the Eldar'El delude themselves in their beliefs that they are still among the fae and the Dael'El seem to the Dep’El as confused relics of a time long past, their underground counterparts have a long record of being adaptive survivors. Scoffing at the recorded "histories" of the Eldar'El and their claims that they are "closest to the fae,” they see the High Elves tales of magic and dancing have little bearing on reality. The cold truth is that the world changed, and so the Dep’El have a pragmatic approach to the lessons of the path, which they feel exist only to inform the decisions of the present and to shape the future. While many believe the Dep'El split from the Dael'El, the fact is the Dep'El always stood a bit apart. Those who would become the Dael'El rejected the pomp and circumstance of the Eldar'El and instead sought to commune with nature. The Dep’El also cast off their more frivolous brethren, but they did so in order to find a more grounded place in their ever changing world, turning their eyes to exploration and commerce.</p>
        <h5>Malestorm’s Rise</h5>
          <p>When the Dael’El were founding their communes, the Dep’El were led by Vaya Alagos to become the most formidable voyagers the world had seen. The success of the Dep'El in exploring their vast new world caused jealousy in the overly ambitious Arbelei Malestorm, leader of the Dael’El, who began to turn his own eyes to expansion. The efforts that followed caused massive strife and conflict among the elves, humans, and Wildren, and the Dep'El implored their woodland cousins to oust the foolish tyrant before they found themselves surrounded by enemies. Indeed, tensions had already grown such that small exploring parties of Dep'El were being slaughtered by humans who couldn't tell the difference between one elf and another.</p>
          <p>Next, the Dep'el went to the Eldar'El, warning them of the trouble that had begun to brew. It was to little avail: the Eldar'El merely advised the Dael'El to stop and would do no more. They would turn a blind eye to the trouble coming and as the Dael’El showed no sign of betraying their leader, the Dep’El chose to formulate their own plan of action.</p>
        <h5>The Assassination & Its Consequences</h5>
          <p>Under cover of darkness, they sent a raiding party into the home of Malestorm and assassinated him and all others in his line, save for the youngest children whom they intended to keep and raise among their own. The new Keeper, however, worried that surviving heirs of Malestorm could threaten his own leadership, and might carry the same traits of their Sire. Hunting down the fleeing assassin band, he had them slaughtered and brought their leader, the voyayer Vaya, in chains along with the bodies of the murdered elflings. Her tongue was cut out so she could be blamed for the murders, and she was executed publicly as a blood traitor. Those who followed her were banished. The Dep'el went first to the Eldar'El, who refused them refuge, then fled to the large island of Delvahel, that had been home to many of their voyagings. Large hollow volcanic mountains yielded huge halls, and they learned to tunnel beneath the surface of the earth to travel swiftly, unnoticed. While many called for revenge, their new leader, Eresse Hissolome urged them to withdraw, rebuild, and never again trust their elven cousins. Dwarves and Dep’El worked together to build a new city deep below the surface, This attempt had to be abandoned after the city came under siege by waves of small reptilian creatures. The races worked together to lock the creatures inside. Construction would be moved to the island later named Delvahel, where Dep’El have remained ever since.</p>
    </div>
  </div>






</div>


<script type="text/javascript">
window.onload = function() {
  document.getElementById("DaleElvesDetails").style.display = "none";
  document.getElementById("DeepElvesDetails").style.display = "none";

  document.getElementById("DaleElvesLink").onclick = function() {
    areadiv = document.getElementById("DaleElvesDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("DeepElvesLink").onclick = function() {
    areadiv = document.getElementById("DeepElvesDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
}
</script> 