<div class="container col-12 mt-4 mb-2" id="racespage">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/mythology/mythology-header.jpg", :class => "img-fluid mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
    </div>
  </div>
</div>