<%= provide(:title, 'Rulebook Changes') %>
<div class="container col-12 mt-4" id="rulebook">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/rulebook/rulebook-header.jpg", :class => "mx-auto d-block") %><br>
      <p class = "h2 text-center">Changes to the Rulebook</p>
    </div>
    <div class="container col-12">
      <%= display_rulebook_changelog %>
    </div> 
  </div>
</div>