<%= provide(:title, 'Terms of Service') %>
<b>Event Registration Terms & Conditions</b>
<p>These are the terms (the “Agreement”) that govern your participation in the Myth event (the “Event”).</p>

<p>By registering for the Event, you agree to these terms, which form a legal contract between Event Frog, LLC, DBA Myth LARP (“Myth”), and the registered attendee (“you”). If you are registering on behalf of another, you must ensure the person attending is aware of these terms and accepts them. By completing this registration, you warrant that you have made the attendee aware of these terms, and they agree to them.</p>

<p><b>1. Event Admission</b></p>

<p>1.1 Admittance.</p>
<p>Your registration entitles you to admittance to the Event. You will handle any (and all) costs associated with your attendance (including travel and accommodations). Myth shall have no liability for such expenses.</p>

<p>1.2 Termination.</p>
<p>You acknowledge Myth reserves the right to remove you from the Event without refund if your presence or behavior creates a disruption, hinders the Event, or enjoyment of other attendees. </p>

<p>1.3 Media.</p>
<p>By attending the Event, you acknowledge and agree to grant Myth the right to record, film, photograph, or capture your likeness during events in any media now available and hereafter developed. You also acknowledge that Myth may distribute, broadcast, use, or disseminate that likeness in perpetuity without further approval from you or with any payment to you. This permission to Myth includes, but is not limited to, the right to edit such media, use the media alone, together with other information, and the right to allow others to disseminate the media.</p>

<p>1.4 Event Content.</p>
<p>In its sole discretion, you agree that Myth reserves the right to change any aspects of the Event, including but not limited to the event name, theme, stories, content, performers, and time.</p>

<p><b>2. Fee(s)</b></p>

<p>2.1 Payment.</p>
<p>The payment of the applicable fee(s) for the Event is due upon registration. If such payment is insufficient or declined for any reason, Myth may refuse to admit you to the Event and shall have no liability in that regard. </p>

<p>2.2 Taxes.</p>
<p>The fee(s) for the Event include all required taxes and fees. </p>

<p><b>3. Substitution and cancellation policy</b></p>

<p>3.1
<p>If you cancel within 48 hours of registering for the Event, you will be eligible for a refund. Cancellations outside of the 48-hour window do not qualify for a refund. Once early bird pricing for an event ends, the window for event transfers is closed.</p>

<p><b>4. Privacy Policy</b></p>

<p>4.1 </p>
<p>Myth is committed to protecting the privacy of its members. Myth operates a strict privacy policy, which is available at <URL>.</p>

<p>5. Intellectual property</b></p>

<p>5.1</p>
<p>Event Frog, LLC., owns all intellectual property rights in and to the Event. These rights include Event content, materials, stories at or in connection with the Event. </p>

<p><b>6. Warranties and limitation of liability</b></p>

<p>6.1 </p>
<p>Myth provides no warranties regarding any aspect of the Event or related materials offered at the Event. Myth disclaims all implied warranties to the fullest extent possible under the laws governing this Agreement. Neither Event Frog, LLC., Myth, or Myth's staff can accept any responsibility or liability for reliance on you or any person in any aspect of the Event.</p>

<p>6.2</p>
<p>Other than to the extent required by law: (I) neither Myth nor its staff shall be liable for any direct, indirect, special, incidental, or consequential costs, damages, or losses arising directly or indirectly from the Event or other aspect related to that or in connection with this Agreement.</p>

<p>6.3</p>
<p>The amount you pay for the Event is the maximum aggregate liability of Myth for any claim in this Agreement, whether in contract, tort or otherwise (including any negligent act or omission).</p>

<p><b>7. Governing law and jurisdiction</b></p>

<p>7.1 The laws of the State of Connecticut govern this Agreement, and the parties shall submit to the exclusive jurisdiction of the Connecticut courts.</p>

<p>7.2 All claims and disputes arising under or relating to this Agreement will be settled by binding arbitration in the State of Connecticut or other locations mutually agreeable to the parties. The arbitration will be conducted on a confidential basis according to the Commercial Arbitration Rules of the American Arbitration Association. Any decision or award as a result of any such arbitration proceeding shall be in writing and shall provide an explanation for all conclusions of law and fact and shall include the assessment of costs, expenses, and reasonable attorneys' fees. Any such arbitration shall consist of a written record of the arbitration hearing. An award of arbitration may be confirmed in a court of competent jurisdiction.</p>

<p class = "small font-italic">Last updated: 3/27/2022</p>