<%= provide(:title, 'Terms of Service') %>
<b>Event Registration Terms & Conditions</b>
<p>These are the terms (the “Agreement”) that govern your participation in the Myth event (the “Event”).</p>

<p>By registering for the Event, you agree to these terms, which form a legal contract between Event Frog, LLC, DBA Myth LARP (“Myth”), and the registered attendee (“you”). If you are registering on behalf of another, you must ensure the person attending is aware of these terms and accepts them. By completing this registration, you warrant that you have made the attendee aware of these terms, and they agree to them.</p>

<p><b>1. Event Admission</b></p>

<p>1.1 Admittance.</p>
<p>Your registration entitles you to admittance to the Event. You will handle any (and all) costs associated with your attendance (including travel and accommodations). Myth shall have no liability for such expenses.</p>

<p>1.2 Termination.</p>
<p>You acknowledge Myth reserves the right to remove you from the Event without refund if your presence or behavior creates a disruption, hinders the Event, or enjoyment of other attendees. </p>

<p>1.3 Media.</p>
<p>By attending the Event, you acknowledge and agree to grant Myth the right to record, film, photograph, or capture your likeness during events in any media now available and hereafter developed. You also acknowledge that Myth may distribute, broadcast, use, or disseminate that likeness in perpetuity without further approval from you or with any payment to you. This permission to Myth includes, but is not limited to, the right to edit such media, use the media alone, together with other information, and the right to allow others to disseminate the media.</p>

<p>1.4 Event Content.</p>
<p>In its sole discretion, you agree that Myth reserves the right to change any aspects of the Event, including but not limited to the event name, theme, stories, content, performers, and time.</p>

<p>Behavior.</p>
<p>While we understand that sexual activity is natural human behavior, we must also recognize we play Myth in a shared space that includes minors. Our policy is to ensure the safety and well-being of all members, so sexual activity at Myth is forbidden. We expect all community members and staff to comply with this policy at Myth events. Anyone who violates this policy will be asked to leave immediately without a refund.</p>


<p><b>2. Fee(s)</b></p>

<p>2.1 Payment.</p>
<p>The payment of the applicable fee(s) for the Event is due upon registration. If such payment is insufficient or declined for any reason, Myth may refuse to admit you to the Event and shall have no liability in that regard. </p>

<p>2.2 Taxes.</p>
<p>The fee(s) for the Event include all required taxes and fees. </p>

<p><b>3. Substitution and cancellation policy</b></p>

<p>3.1
<p>Once you register for an event, you have 48 hours to request a refund. Once 48 hours have passed or the Earlybird Deadline has been reached, we will no longer refund your registration. You may transfer your registration to a future event until we reach the Earlybird Deadline. Once we hit that deadline, event transfers are closed.</p>

<p><b>4. Privacy Policy</b></p>

<p>4.1</p>
<p>Myth gathers limited personal data through event sales transactions, feedback forms, and other voluntarily submitted information. We may use this data to:</p>
<ul>
  <li>To provide you with the products and services you have purchased from us;</li>
  <li>Inform you of changes or other announcements related to the events you have or will participate in;</li>
  <li>To reach out with special offers or notifications on our events or other policies;</li>
  <li>To handle customer service issues or community issues, such as mediation of policy violations;</li>
  <li>To assess or follow up on services you have purchased from us;</li>
  <li>To analyze event holder metrics;</li>
  <li>To share news and announcements;</li>
</ul>
<p>Myth does not sell or trade your contact information with third parties. You may request your data be removed from our databases by emailing us at support@mythlarp.com. All removed data will include all characters you have created.</p>
<p>This website may use cookies and other methods to track and manage your experience, improve our customer experience, handle site features and assist with customer service.</p>

<p>5. Intellectual property</b></p>

<p>5.1</p>
<p>Event Frog, LLC., owns all intellectual property rights in and to the Event. These rights include Event content, materials, stories at or in connection with the Event. </p>

<p><b>6. Warranties and limitation of liability</b></p>

<p>6.1 </p>
<p>Myth provides no warranties regarding any aspect of the Event or related materials offered at the Event. Myth disclaims all implied warranties to the fullest extent possible under the laws governing this Agreement. Neither Event Frog, LLC., Myth, or Myth's staff can accept any responsibility or liability for reliance on you or any person in any aspect of the Event.</p>

<p>6.2</p>
<p>Other than to the extent required by law: (I) neither Myth nor its staff shall be liable for any direct, indirect, special, incidental, or consequential costs, damages, or losses arising directly or indirectly from the Event or other aspect related to that or in connection with this Agreement.</p>

<p>6.3</p>
<p>The amount you pay for the Event is the maximum aggregate liability of Myth for any claim in this Agreement, whether in contract, tort or otherwise (including any negligent act or omission).</p>

<p><b>7. Governing law and jurisdiction</b></p>

<p>7.1 The laws of the State of Connecticut govern this Agreement, and the parties shall submit to the exclusive jurisdiction of the Connecticut courts.</p>

<p>7.2 All claims and disputes arising under or relating to this Agreement will be settled by binding arbitration in the State of Connecticut or other locations mutually agreeable to the parties. The arbitration will be conducted on a confidential basis according to the Commercial Arbitration Rules of the American Arbitration Association. Any decision or award as a result of any such arbitration proceeding shall be in writing and shall provide an explanation for all conclusions of law and fact and shall include the assessment of costs, expenses, and reasonable attorneys' fees. Any such arbitration shall consist of a written record of the arbitration hearing. An award of arbitration may be confirmed in a court of competent jurisdiction.</p>

<p class = "small font-italic">Last updated: 11/17/2022</p>