<%= provide(:title, 'Terms of Service') %>
<p>These are the rules you must follow when you join the Myth event ("Event"). By signing up, you agree to the rules. If you sign up for someone else, make sure they know and agree to the rules too.</p>

<p>Going to the Event</p>

<p>1.1 Getting In</p>

<p>Your signup lets you go to the Event. You pay for all your costs (like travel and hotel). Myth won't pay for these.</p>

<p>1.2 Leaving</p>

<p>Myth can make you leave the Event without giving your money back if you cause trouble or stop others from enjoying the Event.</p>

<p>1.3 Pictures and Videos</p>

<p>By going to the Event, you let Myth take pictures or videos of you. They can use them any way they want without asking you or paying you.</p>

<p>1.4 Changes</p>

<p>Myth can change the Event any way they want (like the name, theme, stories, and performers).</p>

<p>1.5 No Sexual Activity</p>

<p>Sexual activity is not allowed at the Event because there are kids there. If you break this rule, you must leave without getting your money back.</p>

<p>Paying</p>

<p>2.1 When You Pay</p>

<p>You must pay when you sign up for the Event. If you don't, Myth might not let you in.</p>

<p>2.2 Taxes</p>

<p>Your payment includes all taxes and fees.</p>

<p>3.1 Changing or Canceling</p>
<p>You can get your money back if you cancel within 48 hours of signing up. After that, no refunds. You can move your signup to another event before the Earlybird Deadline.

<p>4.1 Privacy</p>
<p>Myth collects some of your personal info. They use it to give you what you bought, tell you about changes, send special offers, help with problems, and more. They don't sell or trade your info. You can ask them to delete your info by emailing support@mythlarp.com.
This website may use cookies to help make your experience better.</p>

<p>5.1 Ideas and Content</p>
<p>Myth owns all ideas and content related to the Event.</p>

<p>6.1 No Promises and Limits on Problems</p>
<p>Myth doesn't promise anything about the Event. They aren't responsible for anything that happens because of the Event.</p>

<p>6.2</p>
<p>Myth and its staff aren't responsible for any problems or losses from the Event or this agreement, unless the law says they must be.</p>

<p>6.3</p>
<p>The most Myth has to pay you for any problems is the amount you paid for the Event.</p>

<p>Laws and Solving Problems</p>

<p>7.1 Connecticut laws apply to this agreement. If there's a problem, the Connecticut courts will handle it.</p>

<p>7.2 If you have a problem with this agreement, you and Myth must try to solve it through a private, binding meeting called "arbitration" in Connecticut or another place both sides agree to. The American Arbitration Association will handle the meeting. They will write a decision that explains what happened, what the law says, and who pays for what. A court can make the decision official.</p>

<p class = "small font-italic">Last updated: 03/27/2023</p>