<%= provide(:title, 'Town Positions') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="container col-12">
      <p class = "h2 text-center">Town Positions</p>

      <p class = "h4">Constable and Town Guard</p>
      <p>The Town Guard is overseen by a Constabulary consisting of a Constable and up to two Deputy Constables. The Constable answers directly to the town Nobility. The following duties are to be completed by the Town Guard each Gather in a manner that is put forth by the Constabulary:</p>
      <ul>
        <li>Immediately on Fireday evening, the Town Guard must designate Guardsfolk to safely escort any interested persons in traveling to the local Place of Power, and safely escort them back again. This task must again be completed once on Swordsday and once on Shieldsday, at a scheduled time set forth by the Constabulary, allowing enough notice for those interested to appear at the chosen time.</li>
        <li>A full sweep of the trails of Damar Keep must be completed no less than thrice (3) on Swordsday, some time in the morning, afternoon, and evening, at the discretion of the Constabulary. This is meant to ensure safe trails from enemies, bring aid for any in need, and reporting evidence of illegal acts.</li>
        <li>It is the responsibility of all On-Duty Guardsfolk to keep the peace within the boundaries of Damar Keep and it’s town. This includes assisting in civil disputes, intervening in active violent events, and reporting crimes of import to the Constabulary.</li>
      </ul>
      <p>The following duties are to be completed by the Constabulary each Gather in a manner they see fit. At least 1 year commitment required with elections in the Spring:</p>
      <ul>
        <li>Submit a Roster of active members following the Gather, no later than two weeks following, addressed to Ser Amaris.</li>
        <li>Act as an arbitrator for town disputes and when issuing punishments in response to illegal actions.</li>
        <li>Oversee that all Town Guard duties are completed each Gather, as well as forming a schedule of On-Duty and Off-Duty Guards, as to not overwork the force.</li>
        <li>Other duties as assigned.</li>
      </ul>
      <p>Payment for Town Guard is 5 Silver per Gather, to be given on the following gather, upon submission of the Roster. There will be no back pay for missed Rosters.</p>
      
      <p class = "h4">Curator</p>
      <p>The position of Town Curator fulfills a vital role in the administration and organization of Town information and inventory. The main purpose of the Curator is to ensure that the information and inventory in the town collection is complete, accurate, and safe. The Curator will work with Town Nobility to make decisions on research, information, and uses of magical items. At least 1 year commitment required. Elections in the Spring.The duties of the Curator include but are not limited to:</p>
      <ul>
        <li>Upkeep, maintain, and protect the Town Library and it’s collection.</li>
        <li>Be knowledgeable about all information contained in the Library’s collection, including the ability to decipher fact from fiction, or truth from legend.</li>
        <li>Maintain collective records for important Town information, including but not limited to a citizen registry, local flora and fauna, etc.</li>
        <li>Be knowledgeable in how to access various information and have the ability to teach others.</li>
        <li>Keep inventory and maintenance of magical items and artifacts owned by the Town collectively.</li>
        <li>Maintain Charges and Charging schedules for all Town magical items and artifacts that require charging.</li>
        <li>Ensuring the open and fair utilization of Town magical items and artifacts as needed and working with the citizens, Council, and Nobility to determine the best times to utilize limited magical items.</li>
        <li>Be knowledgeable regarding magical item and artifact names, effects, abilities, and any other important information.</li>
        <li>Protect Town magical items and artifacts from theft, damage, or any other state that would cause them to be unusable or unavailable.</li>
      </ul>
      <p>The Town Curator may choose up to 3 archivist to help with the above duties. The Curator will be paid 5 silver per gather.</p>
      
      <p class = "h4">Town Council</p>
      <p>The Town Council is the representative body for the citizens of Damar Keep. The Town Council consists of a maximum of five elected citizens of Damar Keep who do not hold the title of Guildmaster or Thane. The Town Council reports directly to the town Nobility and has no judicial authority. A minimum of 1 year commitment is required. Elections are held each Spring.</p>
      <p>As an elected body, the Town Council’s main responsibility is to represent the greater interests of the citizens of Damar Keep directly to the Town Nobility. As such, Town Council procedures and decisions should reflect the will of the people they represent. The responsibilities of Town Council Members include but are not limited to:</p>
      <ul>
        <li>Organizing and maintaining an agenda for Town Meetings, as well as full participation.</li>
        <li>Engaging the citizens of Damar Keep regarding important issues and large scale projects.</li>
        <li>Accepting thoughts, ideas, and feedback from the citizens regarding all aspects of Town business.</li>
        <li>Working with Town Nobility to organize and execute projects to build up or assist the Town.</li>
        <li>Meet regularly to discuss town projects, citizen feedback, and major decisions regarding town issues.</li>
        <li>Be the voice of the citizens, directly influencing the Town Nobility</li>
        <li>Other duties as discussed with Town Nobility</li>
      </ul>
      What Town Council Members are not:
      <ul>
        <li>Stand-ins for Town Nobility - Cannot give commands to citizens, cannot sign contracts on behalf of the town, cannot redistribute land, etc.</li>
        <li>Heads or Supervisors to other Town Officials</li>
        <li>Law Makers (though new laws may be proposed to the Town Nobility) or Law Enforcers (though, if requested by the Constabulary, may be asked to assist with appropriate Punishments in line with the legal code)</li>
        <li>Able to demand or restrict the procedures and processes of the Town Militia</li>
      </ul>
      <p>Town Council Members are not paid in coins for their service. However, the position comes with high stature, direct contact to Nobility, and major influence in the direction of the growth and development of Damar Keep.</p>
    </div>
  </div>
</div>