<%= provide(:title, 'Town Positions') %>
<div class="container col-12 mt-4">
  <div class="row">
    <div class="container col-12">
      <p class = "h2 text-center">Town Positions</p>
      
      <p> Every Spring, Damar Keep holds town elections to nominate citizens to the various town positions. The Constable and Curator position hold a two year tenure, should the existing position wish to remain. Once their tenure is up, they must step down to allow a new member of the town to replace them. Town Council is reelected each year and may rerun should they choose to. Should a member of town feel an individual in a town position is not performing their duties as needed, they may submit a petition of no less than 50 signitures to the local nobility to ask that they be removed from office.</p>

      <p class = "h4">Constable and Town Guard</p>
      <p>The Town Guard is overseen by a Constabulary consisting of a Constable and up to two Deputy Constables. The Constable answers directly to the town Nobility and their contact Gremold. The town guard will have a 20 member limit, including the constable and their two deputies. The following duties are to be completed by the Town Guard each Gather in a manner that is put forth by the Constabulary:</p>
      <ul>
        <li>Each member should be doing 2 patrols per gather with no more than 5 guard per patrol. This will amount to 8 patrols per gather. A report is to be submitted to the constable and supplied at check-out of the status of the patrol.</li>
        <ul>
          <li>1 patrol on Firesday</li>
          <li>6 patrols on Swordsday</li>
          <li>1 patrol on Shieldsday</li>
        </ul>
        <li>Attend mandatory drills once throughout the gather, a roster to be supplied and submitted at check-out.</li>
      </ul>
      <p>To earn their pay, a guardsmen must do all 3. If they do not, pay is docked 2 silver per missed patrol and 1 silver for missing drills. This pay can be collected at the following gather.</p>
      <p>The following duties are to be completed by the Constabulary each Gather in a manner they see fit. At least 1 year commitment required with elections in the Spring:</p>
      <ul>
        <li>Act as an arbitrator for town disputes and when issuing punishments in response to illegal actions.</li>
        <li>Oversee that all Town Guard duties are completed each Gather, as well as forming a schedule of On-Duty and Off-Duty Guards, as to not overwork the force.</li>
        <li>Other duties as assigned.</li>
      </ul>
      
      
      <p class = "h4">Curator</p>
      <p>The position of Town Curator fulfills a vital role in the administration and organization of Town information and inventory. The main purpose of the Curator is to ensure that the information and inventory in the town collection is complete, accurate, and safe. The Curator will work with Town Nobility to make decisions on research, information, and uses of magical items. At least 1 year commitment required. Elections in the Spring.The duties of the Curator include but are not limited to:</p>
      <ul>
        <li>Upkeep, maintain, and protect the Town Library and it’s collection.</li>
        <li>Be knowledgeable about all information contained in the Library’s collection, including the ability to decipher fact from fiction, or truth from legend.</li>
        <li>Maintain collective records for important Town information, including but not limited to a citizen registry, local flora and fauna, etc.</li>
        <li>Be knowledgeable in how to access various information and have the ability to teach others.</li>
        <li>Keep inventory and maintenance of magical items and artifacts owned by the Town collectively.</li>
        <li>Maintain Charges and Charging schedules for all Town magical items and artifacts that require charging.</li>
        <li>Ensuring the open and fair utilization of Town magical items and artifacts as needed and working with the citizens, Council, and Nobility to determine the best times to utilize limited magical items.</li>
        <li>Be knowledgeable regarding magical item and artifact names, effects, abilities, and any other important information.</li>
        <li>Protect Town magical items and artifacts from theft, damage, or any other state that would cause them to be unusable or unavailable.</li>
      </ul>
      <p>The Town Curator may choose up to 3 archivist to help with the above duties. <p>

      <p>The Curator will be paid 1 silver per task fulflled below, to be submitted at check-out.</p>
      <ul>
        <li>Charge any artifacts before end of day Firesday and submit a report to nobility on the trip up to the place of power. You may elect to bring up to 3 members of the town guard.</li>
        <li>Meet the caravan into town or during town meeting, introduce yourself and explain the nature of the town artifacts and collect names for the town registry. Additions and updates should be submitted to nobility.</li>
        <li>For one hour per gather on Swordsday evening, meet with town members to discuss dangers they faced to update records within Damar Keep's Tome of Foes.</li>
        <li>Keep a record of each of the town's magical artifacts. Record should include the name, a description of the look, how it was obtained and a description of its use and powers. Should an artifact be limited in use, it should include steps that will taken to determine how and when it will be used.</li>
        <li>Hold a seminar with the crafters in town to discuss local flora and fauna, their crafting usage and to catalog and distribute the information.</li>
      </ul>
      
      <p class = "h4">Town Council</p>
      <p>The Town Council is the representative body for the citizens of Damar Keep. The Town Council consists of a maximum of five elected citizens of Damar Keep who do not hold the title of Guildmaster or Thane. The Town Council reports directly to the town Nobility and has no judicial authority. A minimum of 1 year commitment is required. Elections are held each Spring.</p>
      <p>As an elected body, the Town Council’s main responsibility is to represent the greater interests of the citizens of Damar Keep directly to the Town Nobility. As such, Town Council procedures and decisions should reflect the will of the people they represent. The responsibilities of Town Council Members include but are not limited to:</p>
      <ul>
        <li>Organizing and maintaining an agenda for Town Meetings, as well as full participation.</li>
        <li>Engaging the citizens of Damar Keep regarding important issues and large scale projects.</li>
        <li>Accepting thoughts, ideas, and feedback from the citizens regarding all aspects of Town business.</li>
        <li>Working with Town Nobility to organize and execute projects to build up or assist the Town.</li>
        <li>Meet regularly to discuss town projects, citizen feedback, and major decisions regarding town issues.</li>
        <li>Be the voice of the citizens, directly influencing the Town Nobility</li>
        <li>Other duties as discussed with Town Nobility</li>
      </ul>
      What Town Council Members are not:
      <ul>
        <li>Stand-ins for Town Nobility - Cannot give commands to citizens, cannot sign contracts on behalf of the town, cannot redistribute land, etc.</li>
        <li>Heads or Supervisors to other Town Officials</li>
        <li>Law Makers (though new laws may be proposed to the Town Nobility) or Law Enforcers (though, if requested by the Constabulary, may be asked to assist with appropriate Punishments in line with the legal code)</li>
        <li>Able to demand or restrict the procedures and processes of the Town Militia</li>
      </ul>
      <p>Town Council Members are not paid in coins for their service. However, the position comes with high stature, direct contact to Nobility, and major influence in the direction of the growth and development of Damar Keep.</p>
    </div>
  </div>
</div>