<h1>RELEASE OF LIABILITY, ASSUMPTION OF RISK, AND WAIVER OF CLAIMS AGREEMENT</h1>
<p>I, the undersigned, ask to participate in events run by Event Frog, LLC., referred to as “the Game” in the remainder of this document. </p>

<p><b>Site Owner:</b> In the remainder of this document, we will refer to the Windham-Tolland 4-H Camp Foundation as “Site Owner.”</p>

<p><b>Releasees:</b> In the remainder of this document, we will refer to Myth Larp, Event Frog, LLC., and its owners, employees, volunteers, agents, or anyone else who performs functions on their behalf at the event site or other locations as Releasees.</p>

<p><b>Risk & Responsibility:</b> I acknowledge and understand that inherent risks come by participating in the Game. These risks include but are not limited to: the risk of injury from the use of simulated weapons, tripping, falling, exposure to phobias, collisions with other people, trees, or objects. Participation in the Game can also be very active with high levels of physical exertion that could result in injury or even death. Despite these risks, I intend to participate in the Game and will hold harmless all Releasees.</p>

<p><b>Indemnification:</b> I indemnify the Site Owner and Releasees against all claims, actions, suits, procedures, costs, suits, procedures, costs, expenses (including attorney’s fees), damages, and liabilities arising out of, connected with or resulting from my playing the Game.</p>

<p><b>Age:</b> I swear I am at least 16 years of age or older and understand that falsification of my age will result in an immediate ban from all future events with no refund. If I am aged 16 or 17, I know this agreement must be shared with and signed by a parent or legal guardian.</p>

<p><b>Rules:</b> I agree to read and obey the rules of the Game as outlined in the Game’s rulebook. I will ask for clarification on regulations I find to be unclear to me, especially when safety is involved.</p>

<p><b>Photography:</b> I agree to allow the Game to use any photos captured of me at events for inclusion in the Game’s promotional materials including, but not limited to, social media, print, digital, or other. The Game will not use video captured at events for promotional materials without written permission from those in that media. By my signature, I hold harmless all Releasees and the Site Owner from all liability. I agree on behalf of my estate, my heirs, my representa-tives, and assigns not to sue the Releasees or Site Owner</p>