<%= provide(:title, 'Waiver') %>
<%= link_to "/waiver/waiver_agreement.pdf", target: '_blank' do %>
  <span class="float-right mt-auto"><i class="fas fa-print "></i> - Print this Waiver</span>
<% end %>
<br>
<h2>Myth Live Action Role-Playing (LARP) Event Participation Waiver and Release of Liability Agreement</h2>
<p>I, the undersigned, ask to participate in events run by Event Frog, LLC., doing business as Myth LARP, referred to as “the Game” in
the remainder of this document.</p>

<p><b>Site Owner:</b> In the remainder of this document, we will refer to the Windham-Tolland 4-H Camp Foundation as “Site Owner.”</p>

<p><b>Releasees:</b> In the remainder of this document, we will refer to Myth LARP, Event Frog, LLC., and its owners, employees, volunteers,
agents, or anyone else who performs functions on their behalf at the event site or other locations as Releasees.</p>

<p><b>Risk & Responsibility:</b> I acknowledge and understand that inherent risks come by participating in the Game. These risks include
but are not limited to: the risk of injury from the use of simulated weapons, tripping, falling, exposure to phobias, collisions with
other people, trees, or objects. Participation in the Game can also be very active with high levels of physical exertion that could
result in injury or even death. Despite these risks, I intend to participate in the Game and will hold harmless all Releasees from any
and all liability arising out of my participation.</p>

<p><b>Indemnification:</b> I indemnify the Site Owner and Releasees against all claims, actions, suits, procedures, costs, expenses
(including attorney’s fees), damages, and liabilities arising out of, connected with, or resulting from my participation in the Game.</p>

<p><b>Age:</b> I represent and warrant that I am at least 16 years of age or older and understand that falsification of my age will result in an
immediate ban from all future events with no refund. If I am aged 16 or 17, I acknowledge that this agreement must be shared with
and signed by a parent or legal guardian.</p>

<p><b>Rules:</b> I agree to read and comply with the rules of the Game as outlined in the Game’s rulebook. I will seek clarification on any
regulations I find to be unclear, especially when safety is involved.</p>

<p><b>Photography and Videography:</b> I hereby grant the Game permission to use any photographs or videos captured of me at
events for inclusion in the Game’s promotional materials including, but not limited to, social media, print, digital, or other forms of
media. I understand that Event Frog, LLC., and its affiliates have the right to conduct photography and videography for promotional
purposes.</p>

<p><b>Medical Treatment:</b> I acknowledge that Releasees do not assume responsibility for providing or paying for any medical treatment
in the event of an injury or illness during the Game. I authorize Releasees to provide basic first aid, but in the event of a more
serious injury, I authorize Releasees to call for medical assistance, including emergency services if deemed necessary. I agree that I
will be solely responsible for any and all costs associated with medical treatment or transportation that may be provided as a result
of my participation in the Game.</p>

<p><b>Allergies & Medical Conditions:</b> I hereby represent that I have disclosed any and all allergies, medical conditions, or medications
that may impact my ability to participate in the Game. I understand that it is my responsibility to manage any such conditions and
to inform Releasees of any concerns or limitations I may have prior to participating.</p>

<p><b>Personal Property:</b> I acknowledge that I am responsible for my personal belongings and equipment during my participation
in the Game. I agree that Releasees and Site Owner shall not be held responsible for any loss, theft, or damage to my personal
property or equipment.</p>

<p><b>Right to Refuse Participation:</b> Event Frog, LLC. reserves the right to refuse participation or remove any participant from the
Game for any reason, including but not limited to, non-compliance with the Game’s rules, inappropriate behavior, or any actions
that pose a risk to themselves or others.</p>

<p><b>COVID-19 or other communicable diseases:</b> I acknowledge the contagious nature of COVID-19 and other communicable
diseases and voluntarily assume the risk that I may be exposed to or infected by such diseases by participating in the Game. I agree
to follow any health and safety guidelines set forth by the event organizer or public health authorities.</p>

<p><b>Acknowledgment of Voluntary Execution:</b> I acknowledge that I have carefully read this waiver and fully understand its
contents. I am aware that this is a release of liability and a legally binding contract between myself and the Releasees, and I sign it
of my own free will.</p>

<p><b>Governing Law:</b> I agree that this waiver shall be governed by and construed in accordance with the laws of the state in which the
event takes place, without regard to its conflict of law provisions.</p>

<p><b>Severability:</b> I agree that if any provision of this waiver is held to be unenforceable, the remainder of the waiver shall continue to
be valid and enforceable to the fullest extent permitted by law.</p>