<%= provide(:title, 'Register as Cast') %>
<div id="eventsignup">
    <p id="eventname"><%= @event.name %></p>
    <p><%= @event.description %></p>

    <p><b>What is an NPC?</b></p>

    <p>NPC is an acronym for Non-Player Character. It is any character in the game that is not played by a Player. Under the guidance of the Director, NPCs at Myth play a variety of roleplaying and combat roles throughout the event.
    NPCing is the perfect way to experience the game from the side that makes the adventures happen. Get ready for a fast-paced and rewarding weekend that will challenge you.</p>

    <p><b>Believe it or not, there are a lot of benefits to participating in Myth as an NPC. Here are some of the most notable:</b></p>
    <ul>
        <li><b>It's Free</b>: You read that right. Participating in Myth as an NPC is not only a ton of fun, it's also free.
        <li><b>Free Food</b>: We hire a professional chef to prepare all of your meals during the event. You'll get a hot breakfast on Saturday & Sunday morning, plus lunch and a hot dinner on Saturday. We also provide snacks and drinks between meals to make sure you're always comfortable.
        <li><b>No Membership Fees</b>: Membership to Myth is free. All you need to do to become a member is to attend at least one event. 
        <li><b>Costuming</b>: From masks and costumes to swords and props, Myth provides all the costuming you need to play a variety of NPC roles throughout the event. All you need to bring is plain dark (black preferred) clothing with no logos or markings. Black sweatpants and a black sweatshirt are popular (and affordable if you don't have them) choices.
        <li><b>Game Rules</b>: Myth's rules are easy to learn even if you have never done anything like this before. If you decide to participate on short notice, we offer a quick Friday-evening workshop to teach you how to play the game. 
        <li><b>Sleeping & Amenities</b>: Unless you choose to bring a tent, NPCs sleep in the large common room of our tavern building. There is heat in the colder months along with modern conveniences such as flush toilets and hot showers. While there are camp mattresses to sleep on the floor of the tavern, we encourage you to bring an air mattress, pillow, and sleeping bag for added comfort.
        <li><b>Experience Points</b>: On top of an incredible time having fun and making new friends, you will also receive experience points (XP) for attending Myth as an NPC. You can use this XP toward a Player Character should you decide to play, trade it with others, or use it in or online store (while products are available). 
    </ul>
    <%= get_cast_signup(@event) %>
</div>