<div class="modal-body" id="sendCourierModalBody">
  <%= bootstrap_form_for :courier, url: character_sendcourier_path do |f| %>
    <%= f.text_field :recipient, :required => true, placeholder: 'Recipient', hide_label: true %>
    <%= f.text_field :destination, :required => true, placeholder: 'Destination', hide_label: true %>
    <%= f.text_area :message, :required => true, placeholder: 'Message', hide_label: true %>

    <p class = "small font-italic">Sending couriers outside Damar Keep will incur a cost of 2 copper per hex of travel to ensure their safe arrival.</p>
    <p class = "small font-italic">Couriers can only be sent to NPC roles.</p>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
  
</div>
 