<div style="padding: 20px" >
<% @result_messages.each do |message| %>
  <li><%= message %></li>
<% end %>

<%= bootstrap_form_with(url: admin_bankloguploads_path, local: true) do |f| %>

  <%= f.text_area :banklogs, placeholder: '??PlayerID??|Name|Amount', label: 'Banklog Upload Submission' %>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

</div>