<h3>Brew of the Month Club</h3>
<p>
  The brew of the month club is a great way to get free drinks in the tavern for the event. Buying this ticket allows you access to soda, coffee and powdered drink mixes.
</p>
<h3>Meal Plan</h3>

  <p>The meal includes breakfast on Saturday and Sunday along with dinner on Saturday evening.<br>
  It also includes a ticket into the brew of the month club for free drinks game.
  <p class="small">
    Food at Myth may contain allergens such as celery, gluten, crustaceans, eggs, fish, lupin, milk, mollusks, mustard, nuts, peanuts, sesame seeds, soya, or sulfates. We will do our best to accommodate those with some allergic reactions to the ingredients mentioned above. Sometimes we can't make significant alterations to our meal plans. If your safety is at risk from eating any of these allergens, we recommend against getting the meal plan.
  </p>
<p>
  <%= simple_format(@event.mealplandetails.html_safe)%>
</p>