<p><b>Sleeping Assignments:</b> When you register for Myth, you may choose what cabin you would like to stay in. All cabins are issued on a first-come-first-served basis. If you’d like your group to take over an entire cabin, it is recommended you have enough people in your group to take up all the slots in that cabin.</p>
<p><b>Sleeping Off-Site:</b> If you are planning to sleep at home, please indicate such on your sleeping arrangements for emergency purposes.</b>
<p><b>Refrigeration:</b> The out-of-game side of the tavern has a fridge available to Players and NPCs to store a limited amount of food. Please be considerate of how much you store, so others have space for things they need to bring.</p>
