<p><b>Smoking:</b> Smoking is allowed only in designated smoking areas near the parking lot and by the pavilion. For help finding them, please see a member of staff or a New Player Liaison.</p>
<p><b>Swimming/Boating:</b> Swimming is not allowed. Please stay out of the ponds and off of boats.</p>
<p><b>Driving On-Site:</b> As long the ground isn’t muddy, you are allowed to drive your vehicle to your cabin. If the road to your cabin is too muddy you will need to walk your gear to and from your cabin (approximately 1/8 mile).</p>
<p><b>Fire Rules:</b> You are only allowed to have fires in designated firepit areas with permission for the GM. This includes the use of censers and candles. In order to have <b>ANY</b> open flame, you must first check in with game staff.</p>
<p><b>Fire Check-in Process:</b></p>
<ul>
  <li><b>Get the Fire Safety Sheet</b> - Ring the bell in the tavern to get a member of staff to provide the Fire Safety Sheet and let them know where the fire will be.
  <li><b>Create Your Fire</b> - If creating a campfire it should be in the desginated firepits. If utilizing a censer or candle, it should be at a safe location near the firepit.
  <li><b>Monitor Your Fire</b> - The individual checking out the fire must stay with the fire at all times. They are considered Out Of Game, may not participate and, must first extinguish the fire before leaving the area.
  <li><b>Extinguish Your Fire</b> - For campfires they must be extinguished with a water source. Stir the coals and ensure anything that could reignite has been thoroughly doused. For candles and censers, please ensure they are properly put out.
  <li><b>Return the Fire Safety Sheet</b> - Ring the tavern bell to return the Fire Safety Sheet and let game staff know the fire has been put out.
</ul>