<h4>General</h4>
You will need general camping supplies, such as sleeping bags, pillows and toiletries.
<br>For a full list of what to bring and some suggestions, check out the <%= link_to 'Community Library', pages_communitylibrary_path %>.
<h4>Food</h4>
<b><p>NPCs</b><br>
Myth supplies all of your meals, snacks, and drinks for the weekend. The menu includes breakfast, lunch and dinner on Saturday and breakfast on Sunday from our cook. There are snacks and beverages available at all times in Game Operations.<br>
While we do our best to accommodate a variety of dietary restrictions, including vegetarian and vegan, it isn’t always possible for us to provide for every need. If you have a very restrictive diet, you may want to consider bringing food options.</p>
<b><p>Players</b><br>
As a player you are welcome to participate to purchase a meal plan to have breakfast and dinner on Saturday and breakfast on Sunday provided by the cook.</p>

<h4>Costume</h4>
<b><p>NPCs</b><br>
As an NPC, Myth supplies any costuming needs for the weekend. You are asked to come in non-descript black clothing. This attire is often black sweats with no logos that can be worn underneath the costuming Myth provides.</p>
<b><p>Players</b><br>
As a player you will be required to bring any costuming needs you may have. The Facebook group and Discord are great places to ask for recommendations, bounce ideas and share any extra props you may have</p>