<div id = 'gamedate'>
  <%= Time.now.in_time_zone('Eastern Time (US & Canada)').day %> day in <%= getGameMonth(Time.now.in_time_zone('Eastern Time (US & Canada)').month) %><br>
  Year <%= Time.now.in_time_zone('Eastern Time (US & Canada)').year - 1300 %>
</div>
<div class="position-sticky pt-2">
  <% if !session[:character].nil?
    @character = Character.find_by(id: session[:character]) 
  %>



  
  <div class='sideSubLink'>
    <%= link_to 'Printable Sheet', character_printablesheet_path, target: :_blank %>
  </div>

 


  
</div>
